.background-container #image{
    width: 100%;
    position: relative;
}
.background-text{
    position: absolute;
    left: 900px;
    width: 300px;
    top: 200px;
    color: #FFF;
font-family: Work Sans;
font-style: normal;
line-height: normal;
}
.btn-primary{
    color: #005FAC;
text-align: right;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.person-info{
    display: flex;
    gap: 200px;
    margin-left: 200px;
}
.person-picture{
    width: 451px;
height: 898px;
flex-shrink: 0;
margin: 140px;
}
.person-text{
    
    margin-top: 300px;
}
#failures{
    color: var(--dark-01, #151414);
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#contant{
    color: var(--dark-02, #444343);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}